/* index style.css */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

*{
  font-family:'Roboto', sans-serif, 'Abril Fatface', cursive;
}



html,body{width: 100%; height: 100%;}

body{padding: 50px; box-sizing: border-box; background-color: #333;}

#wrap {width: 100%; height:100%; position: relative; background-color: #fff; box-shadow:10px 10px 15px rgba(0, 0, 0, 1) ;}

/* *********************** header *********************** */


header {width: auto; height: 100%; position: fixed; top: 0; right: 0; z-index: 200;}

#nav_btn {width: 40px; height: 25px; position: fixed; top: 75px; right: 75px; transform: rotate(0deg); transition: 0.5s ease-in-out; cursor: pointer;}
#nav_btn span {display: block; position: absolute; height: 1px; width: 100%; background: #333; opacity: 1; left: 0; transform: rotate(0deg); transition: 0.25s ease-in-out;}

#nav_btn span:nth-child(2){top: 0px;}
#nav_btn span:nth-child(3){top: 11px;}
#nav_btn span:nth-child(4){top: 22px;}

#nav_btn.on span:nth-child(2) {top: 13px; transform: rotate(-45deg);}
#nav_btn.on span:nth-child(3) {opacity: 0;}
#nav_btn.on span:nth-child(4) {top: 13px; transform: rotate(-135deg);}

#nav_box {width: 400px; height: 100%; position: fixed; top: 0; right: -400px; transition: 0.5s ease-in-out; background-color: #fff;}

#nav_box ul {width: 100%; height: auto; margin-top: 40px;}
#nav_box li {width: 100%; height: 100px;}
#nav_box a {width: 100%; height: 100%; display: block; transition: 0.3s ease-in-out; font-size: 15pt; font-weight: 100; text-align: center; line-height: 100px; font-weight: 300; color: #333;}
#nav_box a:hover{background-color: #ffc63e;}

.nav_back{transition: 0.5s ease-in-out;}

#nav_btn.on{right: 450px;}
#nav_box.on {right: 0px;}
#nav_btn span.on{background-color: #fff;}
.nav_back.on {width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 150; background-color: rgba(0, 0, 0, 0.7);}


/* *********************** #line *********************** */

#line{}
#line div{width:200px; height: 1px; position:absolute; z-index:50; background-color:#999;}
#line .top_line{top: 0; left: 0; transform: rotate(27deg); transform-origin: top left;}
#line .bottom_line{bottom: 0; right: 0; z-index:50; transform: rotate(27deg); transform-origin: bottom right;}

/* *********************** #content *********************** */


#content {width: 800px; height: 270px; position: absolute; top: 50%; left: 50%; margin-top: -135px; margin-left: -400px; z-index: 100;}

#content dl dd:nth-of-type(1){width: 110px; height: 110px; margin: 0 auto; background-image: url(../img/logo.png); background-repeat: no-repeat; background-position: center; background-size:contain}

#content dl dd:nth-of-type(2),
#content dl dd:nth-of-type(2) span{height: 55px; margin-top: 64px; font-family: 'Abril Fatface', cursive;  font-size: 50pt; text-align: center; color: #333; line-height: 55px; letter-spacing: 14px;}
#content dl dd:nth-of-type(2) span{letter-spacing: 0;}

#content dl dd:nth-of-type(3){height: 16px; margin-top: 25px; font-size: 13pt; text-align: center; line-height: 16px; color: #fff; letter-spacing: 6px;}
#content dl dd:nth-of-type(3) p{display: inline-block; color: #777; font-weight: 300;}

/*#content {width: 900px; height: 266px; position: absolute; top: 50%; left: 50%; margin-top: -133px; margin-left: -450px; z-index: 100;}

#content dl dd:nth-of-type(1){width: 110px; height: 110px; margin: 0 auto; background-image: url(../img/logo.png); background-repeat: no-repeat; background-position: center; background-size:contain}

#content dl dd:nth-of-type(2),
#content dl dd:nth-of-type(2) span{height: 80px; margin-top: 64px; font-size: 70pt; font-weight: 800; text-align: center; color: #333; line-height: 80px; letter-spacing: 14px; }
#content dl dd:nth-of-type(2) span{letter-spacing: 0;}

#content dl dd:nth-of-type(3){height: 16px; margin-top: 6px; font-size: 18pt; text-align: center; font-weight: 800; line-height: 16px; color: #fff; letter-spacing: 12px;}
#content dl dd:nth-of-type(3) p{display: inline-block; color: #333;}*/

/* 
====================================================================
   768px - 959px
====================================================================
*/

@media screen and (min-width: 767px) and (max-width: 959px){
    
    /* *********************** #content *********************** */

    #content {width: 500px; height: 204px; position: absolute; top: 50%; left: 50%; margin-top: -102px; margin-left: -250px; z-index: 100;}

    #content dl dd:nth-of-type(1){width: 80px; height: 80px;}

    #content dl dd:nth-of-type(2),
    #content dl dd:nth-of-type(2) span{height: 40px; margin-top: 50px; font-size: 40pt; line-height: 40px;}

    #content dl dd:nth-of-type(3){height: 16px; margin-top: 20px; font-size: 11pt; text-align: center; line-height: 16px; color: #fff; letter-spacing: 6px;}
    #content dl dd:nth-of-type(3) p{display: inline-block; color: #777; font-weight: 300;}
}


/* 
====================================================================
   767px - 480px
====================================================================
*/

@media screen and (min-width: 480px) and (max-width: 767px){

    body{padding: 30px;}

    /* *********************** header *********************** */

    #nav_btn {width: 40px; height: 100%; top: 48px; right: 48px;}

    #nav_btn span:nth-child(2){top: 0px;}
    #nav_btn span:nth-child(3){top: 11px;}
    #nav_btn span:nth-child(4){top: 22px;}

    #nav_btn.on span:nth-child(2) {top: 13px;}
    #nav_btn.on span:nth-child(3) {opacity: 0;}
    #nav_btn.on span:nth-child(4) {top: 13px;}

    #nav_box {width: 300px; right: -300px;}

    #nav_box ul {margin-top: 40px;}
    #nav_box li {height: 80px;}
    #nav_box a{ line-height: 80px; }

    #nav_btn.on{right: 350px;}


    /* *********************** #line *********************** */

    #line div{width:100px;}
    #line .top_line{transform: rotate(37deg);}
    #line .bottom_line{transform: rotate(37deg);}

    /* *********************** #content *********************** */

    #content {width: 400px; height: 206px; margin-top: -103px; margin-left: -200px;}

    #content dl dd:nth-of-type(1){width: 70px; height: 70px;}

    #content dl dd:nth-of-type(2),
    #content dl dd:nth-of-type(2) span{height: 25px; margin-top: 44px; font-size: 24pt; line-height: 25px; letter-spacing: 6px;}
    #content dl dd:nth-of-type(2) span{letter-spacing: 0;}

    #content dl dd:nth-of-type(3){height: 44px; margin-top: 22px; font-size: 9pt; line-height: 10px; color: #666; letter-spacing: 6px;}
    #content dl dd:nth-of-type(3) p{height: 10px; display: block;}
    #content dl dd:nth-of-type(3) p:nth-of-type(2),
    #content dl dd:nth-of-type(3) p:nth-of-type(3){margin-top: 7px;}
 
    }

/* 
====================================================================
   479px - 360px
====================================================================
*/

@media screen and (max-width: 479px){
    
    body{padding: 0px;}

    /* *********************** header *********************** */

    #nav_btn {width: 30px; height: 100%; top: 30px; right: 30px;}

    #nav_btn span:nth-child(2){top: 0px;}
    #nav_btn span:nth-child(3){top: 11px;}
    #nav_btn span:nth-child(4){top: 22px;}

    #nav_btn.on span:nth-child(2) {top: 13px;}
    #nav_btn.on span:nth-child(3) {opacity: 0;}
    #nav_btn.on span:nth-child(4) {top: 13px;}

    #nav_box {width: 200px; right: -200px;}

    #nav_box ul {margin-top: 20px;}
    #nav_box li {height: 60px;}
    #nav_box a {font-size: 12pt; font-weight: 300; text-align: center; line-height: 60px; color: #333;}

    #nav_btn.on{right: 230px;}


    /* *********************** #line *********************** */

    #line div{width:100px;}
    #line .top_line{transform: rotate(37deg);}
    #line .bottom_line{transform: rotate(37deg);}

    /* *********************** #content *********************** */

    #content {width: 220px; height: 206px; margin-top: -103px; margin-left: -110px;}

    #content dl dd:nth-of-type(1){width: 70px; height: 70px;}

    #content dl dd:nth-of-type(2),
    #content dl dd:nth-of-type(2) span{height: 25px; margin-top: 44px; font-size: 24pt; line-height: 25px; letter-spacing: 6px;}
    #content dl dd:nth-of-type(2) span{letter-spacing: 0;}

    #content dl dd:nth-of-type(3){height: 44px; margin-top: 22px; font-size: 9pt; line-height: 10px; color: #666; letter-spacing: 6px;}
    #content dl dd:nth-of-type(3) p{height: 10px; display: block;}
    #content dl dd:nth-of-type(3) p:nth-of-type(2),
    #content dl dd:nth-of-type(3) p:nth-of-type(3){margin-top: 7px;}
 
    
}

@media screen and (max-width: 359px){
    
}





















